*{
    margin: 0;
    padding: 0;
}
.hello{
    text-align: center;
    margin-top: 3rem;
}
.hello h1{
    font-size: 18px;
    width: 55%;
    margin: auto;
    line-height: 1.5;
}
.hello button{
    padding: 10px 30px;
    margin-top: 2rem;
    border: 0;
    border-radius: 10px;
    background-color: #37517e;
    color: aliceblue;
    
}
.progressDiv1{
    width: 50%;
}
.progressDiv2{
    width: 50%;
}
.progressFlex{
    display: flex;
    align-items: center;
    gap: 40px;
}
.codingDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}
.codingDiv p{
    font-size: 6px;
    color: #37517e;
    font-weight: 600;
}
.progressDiv2 p{
    font-size: 13px;
}
.progressDiv2 h3{
    color: #37517e;
    font-size: 32px;
    width: 100%;
    font-weight: 700;
}
.progressBar{
    background-color: #37517e;
}
@media (max-width:600px){
    .progressFlex{
        display: flex;
        flex-direction: column;
        
    }
    .progressDiv1{
        width: 100%;
    }
    .progressDiv2{
        width: 100%;
    }
}